@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
      @apply border-b-[1px] border-b-slate-700 py-20;
    }
}

#aboutme p { 
  border-right: 1px solid rgba(107, 114, 128, var(--tw-border-opacity));
  border-bottom: 1px solid rgba(107, 114, 128, var(--tw-border-opacity));

}

#aboutme span{
  color: rgb(176, 175, 175);
}